.pag-tareas{
    background-color: #eaeaea;
}
.container-tareas-items{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
}

.container-tareas-items a{
    color: black;
    display: flex;
    align-items: center;
}
.container-tareas-item{
    background-color: burlywood;
    min-width: 350px;
    width: 80%;
    height: auto;
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.img-tarea{
    margin:  0 10px;
}

.img-tarea img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50px;
}

.info-tarea{
    margin: 0 10px;
    text-align: justify;
    width: 100%;
}

.info-tarea-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-tarea-header p{
    color: rgb(117, 0, 0);
    font-size: 15px;
    padding-left: 10px;
}